:root {

    --cardbg: #4f7178;
    --something: #e5e5e5c4;
    --text: #000000;
    --offWhite: #ffffff75;
    --white: #edf2f4;
    --link: rgb(134, 32, 32);
    --scroll:#626262;

    /* gradient */

    --BlueMunsell: #1985A1;
    --BlackCoral: #4C5C68;
    --DavysGrey: #46494C;
    --Silver: #C4C3C6;
    --Gainsboro: #DCDCDD;

    /* Animation */
    --animate-duration: 4s;
    --animate-iteration-count: 2;
    --animate-delay: 2s;

     scroll-behavior:auto;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    overflow-x: hidden;
}
/* navbar anchor */

#navbar {
    position: sticky;
    top: 0px;
}
#navbar a{
    color: white;
    text-decoration: none;
    margin: 20px; 
    font-size: 20px; 
    font-family: 'Poppins', sans-serif; 
}

/* when hovering cursor over nav item */
#navbar a:hover {
    box-shadow: 0px 0px 12px var(--white);
    padding: 8px;
    border-radius: 25px;
    color: var(--text);
    transition: all .6s;
}
/* body background color */
body {
    background: linear-gradient(#1985A1, #4C5C68,#46494C,#C4C3C6,#DCDCDD) no-repeat;
}
/* floating button */
.myBtn i{
    position: fixed;
    right: 2%;
    bottom: 3%;
    border: none;
    border-radius: 30px;
    height: auto;
    background-color: var(--Gainsboro);
    color: var(--DavysGrey);
    padding: 8px;
}
.myBtn i:hover {
    color: var(--link);
    transition: all .2s ease-in;
}

/* Home Section */
#Home {
    height: 700px;
    width: 100%;
}
/* container */
#home-container {
    position: absolute;
    left: 70px;
    top: 330px;
    font-weight: bolder;
    margin: 10px;
    padding: 10px;
}
.icon i{
    color: black;
    padding: 10px;
}
.icon i:hover {
    box-shadow: 0px 0px 10px var(--offWhite);
    border-radius: 30px;
    transition: all .4s ease-in;
    color: var(--Gainsboro);
}


/* About Section */
#about {
    text-align: justify;
    height: auto;
}
#about h1 {
    margin: 45px;
}
.about img {
    width: 300px;
    height: 350px;
    padding: 0px 30px;
    align-items: center;
}
.name {
    padding: 10px;
    border: none;
    border-radius: 10px;
    box-shadow: 8px 8px rgb(72, 72, 72);
    width: 800px;
    background-color: var(--something);
}
.name h2{
    font-size: 1.6rem;
}
.name p{
    font-size: 1rem;
}





/* Experience Section */
#experience {
    height: auto;
    width: 100%;
    overflow-y: hidden;
    margin-top: 10px;
}
/* Experience box individual */
.column {
    display: flex;
    flex-direction: row;
    flex-flow: nowrap;
}
/* Experience Box */
.box {
    width: 400px;
    height: 500px;
    background-color: rgb(72, 72, 72);
    border-radius: 20px;
    padding: 20px;
    margin: 40px;
    color: var(--white);
}
.box p {
    font-size: 14px;
}
.box:hover{
    transform: scale(1.1);
    transition: all 0.4s;
}





/* Education Section */
#education {
    display: flex;
    flex-direction: column;
    height: 850px;
    overflow: hidden;
    margin-top: 10px;
}
#education h1{
    margin: 30px;
    text-align: center;
}
.gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.gallery img {
    width: 360px;
    height: 400px;
    padding: 10px;
    margin: 10px;
    filter: grayscale(100%);
}
.gallery img:hover {
    background-color: var(--BlueMunsell);
    cursor: pointer;
    transition: all 0.8s;
    filter: grayscale(0%);
    transform: scale(.9);
}
.skills {
    display: block;
    margin: 0 auto;
    overflow: hidden;
    height: auto;
}
.rows {
    max-width: 600px;
    display: flex;
}
#skill-logo {
    filter: grayscale(100%);
    margin: 30px;
    padding: 10px;
    height: 100%;
    overflow-y: hidden;
}
#skill-logo:hover {
    filter: grayscale(0);
    cursor: pointer;
    transition: all .5s ease-out;
   
}


/* Projects Section */
#projects {
    max-width: 1320px;
    height: 500px;
    padding: 0 15px;
    margin: 0 auto;
    margin-top: 10px;
}
h2 {
    font-size: 32px;
    margin-bottom: 1em;
}
.cards {
    grid-auto-columns: 100%;
    grid-column-gap: 10px;
    grid-auto-flow: column;
    padding: 25px 0px;
    list-style: none;
    overflow-x: scroll;
    -ms-scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory;
}
/* individual cards */
.card {
    flex-direction: column;
    padding: 15px;
    background: var(--offWhite);
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
    scroll-snap-align: start;
    transition: all 0.4s;
}
.card:hover {
    color: var(--offWhite);
    background:var(--cardbg);
}
.card .card-title {
    font-size: 20px;
}
.card .card-link-wrapper {
    margin-top: auto;
}
.card-content{
    text-align: center;
}
.card .card-link {
    display: inline-block;
    text-decoration: none;
    color: var(--text);
    background: var(--something);
    padding: 6px 12px;
    border-radius: 8px;
    transition: background 0.4s;
}
.card:hover .card-link {
    background: var(--link);
}
.cards::-webkit-scrollbar {
    height: 12px;
}
.cards::-webkit-scrollbar-thumb,
.cards::-webkit-scrollbar-track {
    border-radius: 92px;
}
.cards::-webkit-scrollbar-thumb {
    background: var(--scroll);
}
.cards::-webkit-scrollbar-track {
    background: var(--offWhite);
}



/* Testimonials  Section */
#testimonials {
    height: auto;
}
.card{
    border:none;
    height: 100%;
}
.user-content p{
    margin-top:10px;
    font-size:12px;
}



/* Contact Me Section */
#contact {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
#h1 {
    margin: 50px;
}
/* Form */
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.input {
    padding: 15px 20px;
    margin: 15px;
    width: 30%;
    border: none;
    outline: none;
    border-radius: 20px;
}
/* Text Area */
#message {
    margin: 15px;
    padding: 10px;
    border-radius: 20px;
}
/* Button */
#submit {
    padding: 1px 20px;
    margin: 30px;
    width: 10%;
    border-radius: 30px;
    background-color: #000000dc;
    color: white;
    border: none;
    outline: none;
    text-transform: uppercase;
}
#submit:hover {
    background-color: green;
    color: white;
    cursor: pointer;
}

/* Footer Icons */
.icons-feet i {
    color: black;
    padding: 5px;
    margin: 5px;
}
.icons-feet i:hover{
    box-shadow: 0px 0px 10px var(--BlackCoral);
    border-radius: 40px;
    color: var(--scroll);
    transition: all .5s ease-in-out;
}


/* Contact Media Queries */
@media (max-width:300px){
    #input {
       width: 100%;
    }
    #message {
        width: 70%;
    }
    #submit {
        width: 50%;
        border-radius: 30px;
        background-color: #000000;
        color: var(--white);
        border: none;
        padding: 3px;
        margin: 5px;
    }
}
@media (max-width:720px) {
    #input {
        width: 40%;
    }
    #submit {
        width: 50%;
    }

}   


/* Media Queries Projects */
@media (max-width:300px){
    .card {
        padding: 5px;
        display: flex;
        flex-direction: column;
    }
}
@media (min-width: 500px) {
    .cards {
        grid-auto-columns: calc(50% - 10px);
        grid-column-gap: 20px;
    }
}
@media (min-width: 700px) {
    .cards {
        grid-auto-columns: calc(calc(100% / 3) - 20px);
        grid-column-gap: 30px;
    }
}
@media (min-width: 1100px) {
    .cards {
        grid-auto-columns: calc(25% - 30px);
        grid-column-gap: 40px;
    }
}
@media (max-width: 850px) {
     #home-container {
        position: absolute;
        left: 0px;
    }    
    #aboutme {
        width: 100%;
        overflow: hidden;
        height: 600px;
     }
     .image {
        aspect-ratio: 1/1;
     }
     }

 
/* About Section Media Queries */

@media (max-width:300px) {
    .about {
        display: flex;
        flex-direction: column;
        flex-flow: row wrap;
        overflow-y: hidden ;
        height: 100%;
    }
    .about h2 {
        font-size: 14px;
        text-align: center;
        height: auto;
    }
    .heading {
        text-align: center;
        overflow: hidden;
    }
    .about img {
        width: 200px;
        height: 240px;
        padding: 0px 10px;
    }
    .about p {
        font-size: 6px;
        padding: 2px;
    }
}
@media (max-width:720px) {
    .about {
        display: flex;
        flex-direction: column;
        flex-flow: row wrap;
        overflow: hidden;
        height: 100%;
        padding: 5px 10px;
    }
    .about img {
        display: flex;
        justify-content: center;
    }
    .about h2 {
        font-size: 14px;
    }
    .about p {
        font-size: 10px;
    }
    .heading{
        overflow-y: hidden;
        height: auto;
    }
    .name{
        height: 30%;
        margin-bottom: 200px;
        overflow-y: hidden;
    }
    }
@media (max-width:1080px) {

}

    


/* Experience Section Media Queries */
@media (max-width:300px){
    #experience {
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .column{
        display: flex;
        flex-direction: column;
        flex-flow: row wrap;
        height: 90%;
        width: 200px;
        gap: 1;
        overflow-y: hidden;
    }
    .box p{
        width: 300px;
        font-size: 8px;
    }
    .box h2{
        font-size: 10px;
    }
    .box {
        display: flex;
        flex-direction: column;
        flex-flow: row wrap;
        margin: 4px;
        padding: 8px;
        height: 200px;
        width: 300px;
    }
    .box:hover{
        transform: none;
    }
    }
@media (max-width:720px) {
    #experience {
        height: auto;
    }
    .column {
        display: flex;
        flex-direction: column;
        flex-flow: row wrap;
        justify-content: center; 
    }
    .box {
        height: auto;
        margin: 8px;
    }
    .box p {
        font-size: 11px;
    }
    .box:hover{
        transform: scale(1.1);
        transition: all .5s;
    }
  
    
    
}
@media (max-width:1080px) {
    #experience {
        overflow: none;
        height: auto;
    }
    .column {
        display: flex;
        flex-direction: column;
        flex-flow: row wrap;
        overflow-y: hidden;
        height: auto;
    }
    .box {
        width: 276px;
        margin: 10px;
    }
    .box h2 {
        font-size: 1.6rem;
    }
}
@media (max-width:1280px) {
    #experience {
        height: auto;
        overflow: hidden;
    }
    .box {
        overflow: hidden;
        height: auto;
    }
}

/* Media Queries for Testimonials */
@media (max-width:300px) {
    #testimonials {
        height: 100%;
        overflow: hidden;
    }
    .card {
        padding: 5px;
        margin: 5px;
    }
    .container {
        max-height: auto;
        display: flex;
        flex-direction: column;
    }
}

/* Project Section Media Queries */


/* Education Section Media Queries */
@media (max-width:300px) {
    #education {
        height: auto;
        overflow-y: hidden;
    }
    .gallery img {
        width: 200px;
        height: 250px;
    }
    .skills h1 {
        font-size: 1rem;
        display: flex;
        justify-content: center;
    }
    /* direction of images  */
    #skill-logo {
        display: flex;
        flex-direction: column;
        flex-flow: nowrap;
    }
    /* images in div  */
    #skill-logo img {
        width: 50px;
        height: auto;
    }
    .skill-text {
        position: absolute;
        font-size: 8px;
        top: -2px;
        left: 18px;
        
    }
    /* dive that contains images */
    .skills {
        width: 250px;
        margin-bottom: 10px;
    }
    .container {
        height: 550px;
        overflow-y: hidden;
    }
}
@media (max-width:720px) {
    #education {
        overflow: hidden;
        height: auto;
    }
    .gallery img {
        display: flex;
       width: 200px;
       height: 300px;
    }
    #skills-logo {
        display: flex;
    }
    #skills-logo img {
        width: 70px;
        height: 30px;
    }
    
}
@media (max-width:1080px) {
    #education {
        height: auto;
        overflow: hidden;
    }
    .gallery img {
        width: 250px;
        height: 300px;
    }
    .skills{  
        overflow-y: hidden;
        height: auto;
      }
}
@media (max-width:1280px) {
    #education{
        height: auto;
        overflow: hidden;
    }
    .gallery img {
        width: 275px;
    }
    
}

/* Home Section Media Queries */
@media (max-width:300px) {
    #home-container {
        display: block;
        max-width: 280px;
        height: auto;
    }
    #home-container h1{
        margin-top: 15px;
        font-size: 16px;
    }
    #home-container h2{
        font-size: 12px;
    }
    
    #home-container p{
        font-size: 10px;
    }
    #button{
        font-size: 10px;
    }
    #nav-image {
        position: relative;
        left: 30px;
    }
}
@media (max-width:720px) {
    #home-container {
        position: absolute;
        right: 0;
        height: auto;
    }
    #home-container h1 {
        font-size: 20px;
    }
    #home-container p {
        font-size: 14px;
    }
    #button {
        font-size: 10px;
    }
    
}
@media (max-width:1080px){
    #home-container {
        height: auto;
        overflow-y: hidden;
    }
    #home-container h1{
        margin-top: 15px;
        font-size: 16px;
        overflow: hidden;
    }
    #home-container h2{
        font-size: 12px;
        overflow-y: hidden;
    }
    
    #home-container p{
        font-size: 10px;
    }
    #button{
        font-size: 10px;
    }
    #nav-image {
        position: relative;
        left: 30px;
    }
}

/* NavBar Media Queries */
@media (max-width:1080px) {
    #navbar a {
        font-size: 16px;
    }
    .icon {
        padding: 10px;
        margin: 10px;
    }
}
  
  