:root {
    --cardbg: #4f7178;
    --something: #e5e5e5c4;
    --text: #000000;
    --offWhite: #ffffff75;
    --white: #edf2f4;
    --link: rgb(134, 32, 32);
    --scroll:#626262;

    /* gradient */

    --BlueMunsell: #1985A1;
    --BlackCoral: #4C5C68;
    --DavysGrey: #46494C;
    --Silver: #C4C3C6;
    --Gainsboro: #DCDCDD;
}

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;900&family=Roboto+Condensed:wght@100;200;300;400;500;600;700;800&display=swap');

/* Font Specificity
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto Condensed', sans-serif; */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
    overflow-x: hidden;
}
/* navbar anchor */
#navbar a{
    color: white;
    text-decoration: none;
    margin: 20px; 
    font-size: 20px; 
    font-family: 'Montserrat', sans-serif; 
}

/* when hovering cursor over nav item */
#navbar a:hover {
    border-bottom: 2px solid yellow;
    color: var(--text);
    transition: all .6s;
}
/* body background color */
body {
    background: linear-gradient(#1985A1, #4C5C68,#46494C,#C4C3C6,#DCDCDD) no-repeat;
}



/* Home Section */
#Home {
    height: 700px;
    width: 100%;
}
/* container */
#home-container {
    position: absolute;
    left: 150px;
    top: 350px;
    font-weight: bolder;
}



/* about me section */
#aboutme {
    height: 750px;
    width: 100%;
    background: linear-gradient(dimgrey, rgb(153, 149, 149));
}
/* About me section paragraph */
.paragraph {
    position: relative;
    display: inline-block;
    text-align: justify;
    width: 700px;
    right: -190px;
    top: 150px;
    background-color: rgba(255, 255, 255, 0.762);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 4px 8px 16px rgb(72, 72, 72);
}
/* About me section image portrait */
.image {
    position: relative;
    left: 80px;
    top: -60px;
}



/* Experience Section */
#experience {
    height: 650px;
    width: 100%;
    overflow: hidden;
}
/* Experience box individual */
.column {
    display: flex;
    flex-direction: row;
    flex-flow: nowrap;
}
/* Experience Box */
.box {
    width: 400px;
    height: auto;
    background-color: rgb(72, 72, 72);
    border-radius: 5px;
    padding: 20px;
    margin: 40px;
    color: var(--white);
}



/* Projects Section */
.container {
    max-width: 1400px;
    height: 650px;
    padding: 0 15px;
    margin: 0 auto;
}
h2 {
    font-size: 32px;
    margin-bottom: 1em;
}
.cards {
    display: grid;
    grid-auto-columns: 100%;
    grid-column-gap: 10px;
    grid-auto-flow: column;
    padding: 25px 0px;
    list-style: none;
    overflow-x: scroll;
    -ms-scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory;
}
/* individual cards */
.card {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: var(--offWhite);
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
    scroll-snap-align: start;
    transition: all 0.4s;
}
/* when hovering over individual cards */
.card:hover {
    color: var(--offWhite);
    background:var(--cardbg);
}
/* card heading */
.card .card-title {
    font-size: 20px;
}
/* card contents */
/* .card .card-content {
 
 
} */
.card .card-link-wrapper {
    margin-top: auto;
}
/* link within cards i.e Github and Netlify */
.card .card-link {
    display: inline-block;
    text-decoration: none;
    color: var(--text);
    background: var(--something);
    padding: 6px 12px;
    border-radius: 8px;
    transition: background 0.4s;
}
/* when hovering over the card, link changes */
.card:hover .card-link {
    background: var(--link);
}
.cards::-webkit-scrollbar {
    height: 12px;
}
.cards::-webkit-scrollbar-thumb,
.cards::-webkit-scrollbar-track {
    border-radius: 92px;
}

.cards::-webkit-scrollbar-thumb {
    background: var(--scroll);
}

.cards::-webkit-scrollbar-track {
    background: var(--offWhite);
}


/* Education Section */
#education {
    display: flex;
    flex-direction: column;
    background-color: #87818198;
}
#education h1{
    margin: 60px;
    text-align: center;
}
.gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.gallery img {
    width: 360px;
    height: 400px;
    padding: 10px;
    margin: 10px;
}
.gallery img:hover {
    background-color: white;
    cursor: pointer;
    transition: all 0.9s;
}
.skills {
    display: block;
    margin: 0 auto;
}
.rows {
    max-width: 600px;
    display: flex;
}
#skill-logo {
    filter: grayscale(100%);
    margin: 30px;
    padding: 10px;
}
#skill-logo:hover {
    filter: grayscale(0);
    transition: all .8s;
    transform: scale(1.1);
    cursor: pointer;
}


/* Contact Me Section */
#contact {
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
#h1 {
    margin: 50px;
}
/* Form */
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.input {
    padding: 15px 20px;
    margin: 15px;
    width: 40%;
    border: none;
    outline: none;
    border-radius: 30px;
}
/* Text Area */
#message {
    margin: 15px;
    padding: 10px;
    border-radius: 20px;
}
/* Button */
#Submit {
    padding: 15px 20px;
    margin: 30px;
    width: 15%;
    border-radius: 30px;
    background-color: #000000dc;
    color: white;
    border: none;
    outline: none;
    text-transform: uppercase;
}
#Submit:hover {
    background-color: green;
    color: white;
    cursor: pointer;
}



/* Testimonials  Section */
.card{
    border:none;
}
.card:hover{
    transition: all .5s;
    transform: scale(1.1);
   
}
.user-content p{
    margin-top:10px;
    font-size:12px;
   
}


/* Footer */
.footer {
    color: white;
    background-color: #1985a1;
}




/* Media Queries Projects */
@media (min-width: 500px) {
    .cards {
        grid-auto-columns: calc(50% - 10px);
        grid-column-gap: 20px;
    }
}
@media (min-width: 700px) {
    .cards {
        grid-auto-columns: calc(calc(100% / 3) - 20px);
        grid-column-gap: 30px;
    }
}
@media (min-width: 1100px) {
    .cards {
        grid-auto-columns: calc(25% - 30px);
        grid-column-gap: 40px;
    }
}
@media (max-width: 850px) {
     #home-container {
        position: absolute;
        left: 0px;
     }    
     #aboutme {
        width: 100%;
        overflow: hidden;
        height: 600px;
     }
     .image {
        aspect-ratio: 1/1;
     }
     }
    